<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header"></div>

<div class="container">
    <div class="users">
        <div class="users__top d-flex flex-row align-content-center">
                <div class="users__title">Users list</div>
            <div class="col-auto">
                <button type="button" class="add-button"
                        data-bs-target="#createUserModal"
                        id="createNewUserButton" data-bs-toggle="modal">
                    <img class="col-auto icon-btn" src="../../static/img/add-icon.svg" alt="add new user"
                         th:src="@{/img/add-icon.svg}">
                    <span class="col-auto">Add new user</span>
                </button>
            </div>
        </div>
        <div class="users__list">
            <div class="users__item">
                <div class="user-info">
                    <div class="user-info__control d-flex w-100 justify-content-between">
                        <div class="user-info__name col-md-5">Username Userlastname1</div>
                        <div class="user-info__email col-md-5">some_email@gmail.com</div>
                        <div class="user-buttons d-flex flex-row col-md-2 justify-content-evenly">
                            <div class="user-info__button">
                                <img src="../../static/img/edit-icon.svg" alt="edit"
                                     th:src="@{/img/edit-icon.svg}">
                            </div>
                            <div class="user-info__button">
                                <img src="../../static/img/delete-icon.svg" alt="delete"
                                     th:src="@{/img/delete-icon.svg}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"></div>
<div th:replace="fragments/modals"></div>
</html>